* {
    margin: 0px;
}

.main {
    width: 100%;
    font-family: sans-serif;
}

.header {
    width: 100%;
    background-color: rgb(196, 196, 196);
    text-align: center;
}

h1 {
    padding-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.categories>div {
    margin: 20px;
}

.uxTitle {
    background-color: #E1BC29;
    height: 30px;
    width: 60px;
}

.backendTitle {
    background-color: #E15554;
    height: 30px;
    width: 200px;
}

.frontendTitle {
    background-color: #3BB273;
    height: 30px;
    width: 200px;
}

.taskListContainer {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}


.taskLists {
    min-width: 400px;
    min-height: 500px;
    border: 1px solid rgb(182, 182, 182);
    box-shadow: 2px 2px 4px #a2a2a2;
    text-align: center;
}


.card {
    width: 100%;
    height: 100%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.card>p {
    word-wrap: break-word;
    margin-bottom: 7px;
}

.card>form {
    padding-bottom: 10px;
}

.todoContainer,
.inProgressContainer,
.doneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.uxCard {
    background-color: #E1BC29;
}

.devBackendCard {
    background-color: #E15554;
}

.devFrontendCard {
    background-color: #3BB273;
}